body
{
       
}

section
{
    margin: 0 auto;
    display: flex;
    flex-direction:column;
}

.title
{
    align-self: center;
    margin-top: 2em;
    font-size: 35px;
}

#weather
{
    align-self: center;
    font-size: 48px;
    margin-top:0.5em;
    font-weight: 500;
}

#icon
{
    align-self: center;
}




